---
color: '#626262'
bgColor: '#ffffff'

pub-bgColor: '#ffffff'
pub-color: '#626262'
pub-bdrColor: '#dddddd' 

footer-bgColor: '#202020'
footer-color: '#ffffff'
---

/*
 * Author: André Neubauer
 * URL: http://devpg.com
 */

* {
	position: relative;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: {{ page.bgColor }};
	color: {{ page.color }}
	font-size: 1.3em;
	overflow-x: hidden;
}

body, h1, h2, h3, h4, p {
	font-family: 'Raleway';
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

a [class^="icon-"] {
	text-decoration: none;
}

.icon-twitter {
	color: #00ACEE;
}

.icon-linkedin {
	color: #1B85BD;
}

.icon-xing {
	color: #006567;
}

.slide {
	padding-top: 20px;
	padding-bottom: 50px;
}

.slide-header {
	padding-bottom: 30px;
}

[id*="slide-"] h1 {
	color: {{ page.pub-color }};
	text-transform: uppercase;
	text-align:center;
  	overflow:hidden;
}

[id*="slide-"] h1 span {
  display:inline-block;
  position:relative;
}

[id*="slide-"] h1 span:after, 
[id*="slide-"] h1 span:before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  top: 17px;
  width: 600px;  
}

[id*="slide-"] h1 span:before {
  right: 100%;
  margin-right: 15px;
}

[id*="slide-"] h1 span:after {
  left: 100%;
  margin-left: 15px;
}

.navbar {
	background-color: rgba( 255, 255, 255, .8);
	border-bottom: 0 none;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	min-height: 47px;
}

.navbar-brand {
	pading: 12px 40px 12px 12px;
}

#slide-welcome {
	background: url('../images/bg1.jpg') no-repeat center center fixed;
	color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    padding: 0;
    margin-bottom: 0;
}

#slide-welcome h1 {
	padding-top: 130px;
}

#message-box {
	background: rgba(255, 255, 255, .8);
	width: 90%;
	margin: 300px auto 0;
	padding: 20px;
	font-style: italic;
	font-size: 2.5em;
	color: {{ page.color }};
}

#slide-pub {
	background-color: {{ page.pub-bgColor }};
	color: {{ page.pub-color }};
	border-top: 0 none;
	-moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

#slide-pub .thumbnail {
	border: 1px solid {{ page.pub-bdrColor }};
	padding: 15px 4px 0 4px;
	background-color: {{ page.pub-bgColor }};
}

#slide-pub .thumbnail img {
	border: 1px solid #eeeeee;
}

#slide-pub .thumbnail p {
	margin-top: 10px;
	text-align: center;
}

#slide-pub .thumbnail:hover {
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

#slide-contact {
	background-color: {{ page.footer-bgColor }};
	color: {{ page.footer-color }};	
}

#slide-contact [class*="icon-"] {
	font-size: 4em;
}

#slide-contact ul {
	list-style-type: none;
}

footer {
	background-color: {{ page.footer-bgColor }};
	color: {{ page.footer-color }};
	padding-bottom: 10px;
}