---
color: '#626262'

pub-bgColor: 'rgba(255, 255, 255, .9)'
pub-color: '#626262'
pub-bdrColor: '#dddddd' 

footer-bgColor: 'rgba(255, 255, 255, .9)'
footer-color: '#ffffff'
---

/*
 * Author: André Neubauer
 * URL: http://devpg.com
 */

* {
	position: relative;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	color: {{ page.color }};
	font-size: 1.3em;
	overflow-x: hidden;
}

header#background {
	background: url('../images/bg.jpg') no-repeat top center;
	position: fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	z-index: 1;
}

main {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 2;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 3;
	background-color: {{ page.footer-bgColor }};
	padding-top: 15px;
}

body, h1, h2, h3, h4, p {
	font-family: 'Raleway';
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

a [class^="icon-"] {
	text-decoration: none;
}

.icon-twitter {
	color: #00ACEE;
}

.icon-linkedin {
	color: #1B85BD;
}

.icon-xing {
	color: #006567;
}

section {
	padding: 0;
}

section header {
	padding-bottom: 30px;
}

section header h1 span {
  display:inline-block;
  position:relative;
}

section header h1 {
	color: {{ page.pub-color }};
	text-transform: uppercase;
	text-align:center;
  	overflow:hidden;
}

section header h1 span:after, 
section header h1 span:before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  top: 17px;
  width: 600px;  
}

section header h1 span:before {
  right: 100%;
  margin-right: 15px;
}

section header h1 span:after {
  left: 100%;
  margin-left: 15px;
}


/* NAVIGATION */
.navbar {
	background-color: rgba( 255, 255, 255, .9);
	border-bottom: 0 none;
	min-height: 47px;
}

.navbar-brand {
	pading: 12px 40px 12px 12px;
}

/* WELCOME */
#slide-welcome {
	min-height: 500px;
    padding: 0;
    margin-bottom: 0;
}

#slide-welcome h2 {
	font-style: italic;
	font-size: 2.5em;
	color: {{ page.color }};
}

#message-box {
	background: rgba(255, 255, 255, .8);
	width: 90%;
	margin: 300px auto 0;
	padding: 20px;
}


/* ABOUT ME */
#slide-bio {
	background-color: rgba( 255, 255, 255, .9);
}

#slide-bio-header {
	background: url('../images/me.jpg');
	min-height: 250px;
}


/* PUBLICATIONS */
#slide-pub {
	background-color: {{ page.pub-bgColor }};
	color: {{ page.pub-color }};
	border-top: 0 none;
}

#slide-pub .thumbnail {
	border: 1px solid {{ page.pub-bdrColor }};
	padding: 15px 4px 0 4px;
	background-color: {{ page.pub-bgColor }};
}

#slide-pub .thumbnail img {
	border: 1px solid #eeeeee;
}

#slide-pub .thumbnail p,
#slide-pub .thumbnail h3 {
	margin-top: 10px;
	text-align: center;
}

#slide-pub .thumbnail:hover {
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

/* CONTACT */
#slide-contact {
	background-color: {{ page.footer-bgColor }};
	color: {{ page.footer-color }};	
	margin-bottom: 8px;
}

#slide-contact [class*="icon-"] {
	font-size: 4em;
}

#slide-contact ul {
	list-style-type: none;
}