<section id="slide-bio" data-slide="bio">
    <div class="container">
      <header>
        <h1><span>About me</span></h1>
      <header> 
    </div>

    <section id="slide-bio-header"
          data-center="background-position: 50% -200px;"
          data-150-top="background-position: 50% -40px;"
          data-anchor-target="#slide-bio-header">
    </section>

    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <h1>Hi!</h1>
          <p>I'm André Neubauer. For over 15 years I've developed software systems for different companies and contribute to open source projects. Even though I do not develop software professionally anymore, I'm still proud of wearing the clean-code bracelet.</p>
        </div><!-- /col12 -->
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">


          <p>In the recent years I was primarily working as an engineering manager. Beside leadership aspects, professionalism in software development is very important to me. That's why, I am convinced that professional software development is an engineering activity.</p>
        </div><!-- /col12 -->
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <p><i class="icon icon-group"></i></p>
          <h2>Agile + Lean</span></h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div><!-- /col12 -->
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <p>Last but not least, I'm a "conference tourist" and I like to share my experience and views. This is also a good place for one of my hobbies. I collect stickers of companies (of course only the cool ones) as you can see it at the top of this page.</p>

        </div><!-- /col12 -->

    </div>
  </section>