  <section id="slide-contact" data-slide="contact">
	<div class="container text-center">
		
    <header>
      <h1><span>Get in touch</span></h1>
    </header>

    	<div class="col-xs-4 col-sm-4 col-md-4">
    		<a target="_blank" href="https://de.linkedin.com/in/andreneubauer">
            	<i class="icon-linkedin"></i>
            	<p>linkedin/andre.neubauer</p>
          	</a>
        </div>
    	<div class="col-xs-4 col-sm-4 col-md-4">
    		<a target="_blank" href="https://www.xing.com/profiles/Andre_Neubauer">
            	<i class="icon-xing"></i>
            	<p>xing/andre.neubauer</p>
          	</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
    		<a target="_blank" href="https://twitter.com/devpg">
            	<i class="icon-twitter"></i>
            	<p>@devpg</p>
          	</a>
        </div>
	</div><!-- /container -->
  </section>