  <!-- === Slide 4 - Contact -->
  <div class="slide" id="slide-contact" data-slide="3">
	<div class="container text-center">
		<h1 class="slide-header"><span>Get in touch</span></h1>

    	<div class="col-xs-4 col-sm-4 col-md-4">
    		<a target="_blank" href="https://de.linkedin.com/in/andreneubauer">
            	<i class="icon-linkedin"></i>
            	<p>linkedin/andre.neubauer</p>
          	</a>
        </div>
    	<div class="col-xs-4 col-sm-4 col-md-4">
    		<a target="_blank" href="https://www.xing.com/profiles/Andre_Neubauer">
            	<i class="icon-xing"></i>
            	<p>xing/andre.neubauer</p>
          	</a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
    		<a target="_blank" href="https://twitter.com/devpg">
            	<i class="icon-twitter"></i>
            	<p>@devpg</p>
          	</a>
        </div>
	</div><!-- /container -->
  </div><!-- /Slide 4 -->