  </main>
  <footer>
    <div class="container">
      <p class="text-center">This website is hosted on <i class="icon-github-sign"></i> <a href="https://pages.github.com/" target="_blank">GitHub Pages</a> and has a public repository on <i class="icon-github-sign"></i> <a href="https://github.com/devpg/devpg.github.io" target="_blank">GitHub</a>.</p>
    </div>
  </footer>

</body>
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/skrollr.min.js"></script>
  <script src="/js/script.js"></script>
</html>
