<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:200">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
    
</head>
<body>
  <header id="background">


<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">


      <div class="navbar-head">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Andr&eacute; Neubauer (@devpg)</a>
      </div>


<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
          <li data-slide="bio"><a id="menu-link-1" href="#slide-bio"><span class="icon icon-file-text"></span> <span class="text">ABOUT ME</span></a></li>
          <li data-slide="pub"><a id="menu-link-2" href="#slide-pub"><span class="icon icon-file-text"></span> <span class="text">PUBLICATIONS</span></a></li>
          <li data-slide="contact"><a id="menu-link-3" href="#slide-contact"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
  </div><!-- /.navbar -->

  </header>
  <main>
