  <div class="slide" id="slide-pub" data-slide="2">
    <div class="container">
      <div class="page-header">
        <h1>Publications</h1>
      </div>

      <div class="row">
        {% for talk in site.data.talks %}
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="thumbnail">
            <a href="{{ talk.url }}">
              <img src="images/talks/{{ talk.image }}" alt="{{ talk.title }}">
              <p>{{ talk.title }}</p>
            </a>
            <p><small>{{ talk.date | date: "%b %d, %Y"}} at {{ talk.event }}</small></p>
          </div>
        </div>
        {% endfor %}

      </div><!-- /talks -->
    </div><!-- /container -->
  </div><!-- /slide2 -->