<section class="slide" id="slide-pub" data-slide="pub">
    <div class="container" 
      data-center="opacity: 1"
      data--100-bottom="opacity: 0"
      data-anchor-target="#slide-pub h1">

      <header>
        <h1><span>Publications</span></h1>
      </header>    

      {% for talk in site.data.talks %}
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="thumbnail">
          <a href="{{ talk.url }}">
            <img src="images/talks/{{ talk.image }}" alt="{{ talk.title }}">
            <p>{{ talk.title }}</p>
          </a>
          <p><small>{{ talk.date | date: "%b %d, %Y"}} at {{ talk.event }}</small></p>
        </div>
      </div>
      {% endfor %}

    </div>
  </section>