<section id="slide-pub" data-slide="pub">
    <div class="container" 
      data-center="opacity: 1"
      data--100-bottom="opacity: 0"
      data-anchor-target="#slide-pub h1">

      <header>
        <h1><span>Publications</span></h1>
      </header>    

      {% for talk in site.data.talks %}
      <article class="col-xs-6 col-sm-4 col-md-3">
        <figure class="thumbnail">
          <a href="{{ talk.url }}">
            <img src="images/talks/{{ talk.image }}" alt="{{ talk.title }}">
            <h3>{{ talk.title }}</h3>
          </a>
          <p><small><time>{{ talk.date | date: "%b %d, %Y"}}</time> at {{ talk.event }}</small></p>
        </figure>
      </article>
      {% endfor %}

    </div>
  </section>