<section id="talks">

	<h2>Talks <a href="https://speakerdeck.com/devpg">(More on Speaker Deck)</a></h2>

     <figure>
     	<a href="https://speakerdeck.com/devpg/architecture-and-the-agile-approach">
          <img src="https://speakerd.s3.amazonaws.com/presentations/18f4b39036650130f4ac22000a9d03e9/thumb_slide_0.jpg" />
          <figcaption>Architecture And The Agile Approach</figcaption>
        </a>
     </figure>

     <figure>
     	<a href="https://speakerdeck.com/devpg/redis-more-than-a-cache">
          <img src="https://speakerd.s3.amazonaws.com/presentations/cef895103667013063d522000a1f81fd/thumb_slide_0.jpg" />
          <figcaption>redis - More than a cache</figcaption>
        </a>
     </figure>

     <figure>
     	<a href="https://speakerdeck.com/devpg/the-rocky-road-to-continuous-delivery-reloaded">
          <img src="https://speakerd.s3.amazonaws.com/presentations/340cc9704a320130e7cf22000a1f8082/thumb_slide_0.jpg" />
          <figcaption>The Rocky Road to Continuous Delivery - Reloaded</figcaption>
        </a>
     </figure>

</section>