	<section id="slide-welcome" data-slide="welcome">
		<div class="slide" data-center="background-position: 50% 0px;"
        	data-top-bottom="background-position: 50% 300px;"
        	data-anchor-target="#slide-welcome">
			<div class="container">
				<div id="message-box"
					data-center="opacity: 1"
	                data-10-top="opacity: 0"
	                data-anchor-target="#slide-welcome h2">
					<h2>&rdquo;Moved from software engineering enthusiast to org dev. Now executive and strong advocate on lean production and modern leadership. Totally motivated by 'Y'!&rdquo; <a target="_blank" href="https://twitter.com/devpg"><i class="icon-twitter"></i></a></h2>
				</div>
			</div><!-- /container -->
		</div><!-- /wrapper -->
	</section><!-- /slide1 -->