body {
  font: 14px/1.5 Helvetica, sans-serif;
}

section {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1) !important;
  margin: 0;
}

.link-list {
  text-align: center;
}

.link-list a {
  margin: 7px;
  font-weight: bold;
}

#hero-image {
  text-align: center;
  margin: 0 0 20px;
}

#hero-image img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  border: 2px solid var(--clr-text,#fff)
}

iframe {
  border: 0;
  margin: 0px;
  padding: 0px;
}